.mainbar
  .mainbar__upbar
    .mainbar__upbar__left
      .mainbar__upbar__left__group
        test
      .mainbar__upbar__left__memberlist
        Menber:
        .mainbar__upbar__left__memberlist__name
          masa
    %input.mainbar__upbar__right{type: "submit", value: "Edit"}/
  .mainbar__chat
    .mainbar__chat__talk
      .mainbar__chat__talk__box
        .mainbar__chat__talk__box__name
          masa
        .mainbar__chat__talk__box__time
          2020年06月08日 19時13分
      .mainbar__chat__talk__content
        おはよう
    .mainbar__chat__talk
      .mainbar__chat__talk__box
        .mainbar__chat__talk__box__name
          masa
        .mainbar__chat__talk__box__time
          2020年06月08日 19時13分
      .mainbar__chat__talk__content
        こんばんは
  .mainbar__sendbar
    %form.mainbar__sendbar__main
      .mainbar__sendbar__main__kari
        %input.mainbar__sendbar__main__kari__input{type: "text", placeholder: "type a meaasge"}/
        %label{class:"mainbar__sendbar__main__kari__image"}
          = icon('far', 'image fa-lg')
          %input{type: "file", class: "image-file"}
      %input.maimbar__sendbar__main__input__button{type: "submit", value: "Send"}/


