.header
  .header__up
    %p.header__up__name masa
    %ul.header__name__lists
      %li.list
      = link_to "#"do
        = icon('fas', 'pen-square my-example')
      %li.list
      = link_to "#"do
        = icon('fas', 'cog my-example')

  .header__groups
    .header__groups__group
      .group__name techcamp
      .group__massage まだメッセージはありません
    .header__groups__group
      .group__name techcamp2
      .group__massage まだメッセージはありません



